*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background: linear-gradient(to right, rgba(218, 210, 210, 0.781), rgba(166, 196, 166, 0.822));
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.game-letter{
    width:4rem;
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem;
    margin:0.8rem;
    background: linear-gradient(rgba(125, 218, 20, 0.7), rgba(3, 219, 86, 0.7));
    transition: all 0.5s ease;
    box-shadow: 2px 2px 3px black;
}

.game-letter:not(:disabled):hover{
    color:white;
    background: rgb(45, 224, 9);
    box-shadow: 4px 4px 5px black;
}

.game-letter:disabled{  
    color: black;  
    background: linear-gradient(rgba(141, 148, 133, 0.7), rgba(49, 59, 53, 0.7));
    box-shadow: 2px 2px 3px black;
}

.game-start__btn{
    height: 6rem;
    width: 12rem;
    padding: 1rem;
    font-size: 3rem;
    position: absolute;
    top:85vh;
    box-shadow: 5px 5px 10px black;
}

.prepare{    
    position:absolute;
    z-index: 2;
    background: url(../img/evening.png) center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prepare-text{
   text-align: center;
    font-size: 5rem;
}

.game-attempts{
    margin:2rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 2px 2px 3px black;
}

.game-letter-box{    
    text-align: center;
    color: red;
    font-size: 4.5rem;
    padding: 1.3rem;
    border:0.1rem solid black;
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    box-shadow: 2px 2px 3px black;
}

.game-letter-box--without{
    background:transparent;
    border:0;
     box-shadow:0 0 0 white;
}

.game-sentence{
    margin:3rem;
    display: flex;
}

.game-letters{
    margin: 3rem;
    width:60%;
    display:flex;
    flex-wrap: wrap;
}